.formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 345px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #919BA7;
    -webkit-text-size-adjust: 80%;
}

.label {
    margin-top: 20px;
}

