.app {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/loginBg.jpeg");
    font-family: Roboto;
}

.mainHeader {
    width: 100%;
    display: flex;
    justify-content: right;
}

.headerWrap {
    margin: 20px;
}
